body {
    background-color: #0833a2;
}

@font-face {
    font-family: 'Smile';
    font-weight: normal;
    src: url(fonts/tt-hazelnuts-font-family-1728321797-0/TTHazelnuts-Regular-Trial-BF6401510bf3e3e.otf);
}

@font-face {
    font-family: 'Smile';
    font-weight: bold;
    src: url(fonts/tt-hazelnuts-font-family-1728321797-0/TTHazelnuts-Bold-Trial-BF6401510d9e770.otf);
}

p, a {
    font-family: 'Smile';
}

#ntxt {
    color: #ffffff; 
    font-size: 24px; 
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 95%;
}

.Nav_Bar {
    background-color: #162d68;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;;
    padding: 2.5%;
}

.Nav_Bar a {
    padding: 1vw;
    font-size: large;
    color: white;
    text-decoration: none;
}

a:hover {
    font-size: large;
    color: #162d68;
    background-color: white;
}

#main_logo {
    width: 12vw;
    height: 22vh;
    border-radius: 15px;
    position: absolute;
}

#logo {
    width: 12vw;
    height: 22vh;
    border-radius: 15px;
    position: relative;
}

#hero {
    display: block;
    width: 95%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

#ph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}


.slogan_box {
    background-image: url(images/bg_1.png); 
    background-size: cover; 
    background-repeat: none;
    width: 90%; 
    padding-top: 1%; 
    padding-bottom: 1%; 
    margin-left: auto;
    margin-right: auto; 
    border-radius: 30px;
}

#rd_news:hover {
    background-color: #ffffff;
    zoom: 110%;
}

.title_box {
    background-color: #f4be69; 
    width: 85%; 
    height: fit-content;
    padding-top: 0.5%; 
    padding-bottom: 0.5%; 
    margin-left: auto;
    margin-right: auto; 
    border-radius: 15px;
}

.column {
    float: left;
    width: 50%;
  }

  .columna {
    float: left;
    width: 5%;
  }

  .columnb {
    float: left;
    width: 30%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .dot {
    height: 9vh;
    width: 5vw;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box1 {
    background-color: #f5db9a;
    display: flex;
    align-items: center;
  }

  .bgbox {
    background-image: url(images/bg_1.png); 
    background-size: cover; 
    background-repeat: none;
    width: 100%;
  }

  .mdbox {
    background-color: #dc9750;
    width: 80%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
  }


  footer {
    background-color: #162d68;
  }

  .Foot_Bar {
    color: #fff; 
    text-decoration: none; 
    padding: 1vw;
    font-size: large;
    margin-top: 3%;
  }

  .Foot_Bar a {
    padding: 0.2vw;
    font-size: large;
    color: white;
    text-decoration: none;
}

.Foot_Bar a:hover {
    font-size: large;
    color: #162d68;
    background-color: white;
}

/* ENCONTRAR MEJOR SOLUCIÓN (SOLUCIÓN GENERAL) */
#ig :hover {
    font-size: 1.5rem;
    color: #162d68;
    background-color: white;
}

#forms {
    display: block;
    padding: 3%;
    background-color: #fff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

#in_button :hover{
    background-color: #fff;
    color: #df9443 !important;
    zoom: 110%;
}