body {
    background-color: #0833a2;
}

@font-face {
    font-family: 'Smile';
    font-weight: normal;
    src: url(fonts/made_carving_soft/MADECarvingSoftPERSONALUSE-Regular.otf);
}

@font-face {
    font-family: 'Smile';
    font-weight: bold;
    src: url(fonts/made_carving_soft/MADECarvingSoftPERSONALUSE-Bold.otf);
}

p {
    font-family: 'Smile';
}

.Nav_Bar {
    background-color: #162d68;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    font-family: 'Smile';
    padding: 2.5%;
}

.Nav_Bar a {
    padding: 1vw;
    font-size: large;
    color: white;
    text-decoration: none;
}

.Nav_Bar a:hover {
    font-size: large;
    color: #162d68;
    background-color: white;
}

#main_logo {
    width: 12vw;
    height: 22vh;
    background-color: #7aa1ec;
    position: absolute;
    border-radius: 15px;
}

.hero {
    display: block;
    width: 95%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.slogan_box {
    background-color: #f4e7b3; 
    width: 90%; 
    padding-top: 1%; 
    padding-bottom: 1%; 
    margin-left: auto;
    margin-right: auto; 
    border-radius: 30px;
}

.title_box {
    background-color: #f4be69; 
    width: 85%; 
    height: fit-content;
    padding-top: 0.5%; 
    padding-bottom: 0.5%; 
    margin-left: auto;
    margin-right: auto; 
    border-radius: 15px;
}

.column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }